@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap');


/*Principal Structure*/
.task-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

/*Input*/
.task-input{
  width: 350px;
  font-size: 18px;
  background-color: #ffffff;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #008e76;
  outline: none;
}

/*Button*/

.task-button{
  padding: 16px;
  font-size: 18px;
  font-family:'Roboto Mono', sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #008e76;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
}